/* Holiii otra vez */
.material-icons {
    color: white;
    background-color: #ff3333;
    padding: 5px;
}

.navbar-default{
	background: transparent;
	border-color: transparent;
}

.imagenes{
	margin: 26px 0px;
}
